<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %t %highlight(%-5level) %cyan([%file:%method:%line]) [%X{HTTP_REQUEST_ID}] [%X{HTTP_METHOD} %X{HTTP_URI}] - %msg%n</Pattern>
        </layout>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="console" />
    </root>
</configuration>